## Importing and Organizing Your Data in Python - Part II

In [10]:
from pandas_datareader import data as wb
F = wb.DataReader('F', data_source='yahoo', start='2005-1-1')
F

             High    Low   Open  Close      Volume  Adj Close
Date
2005-01-03  14.75  14.51  14.66  14.71   9852200.0   9.417489
2005-01-04  14.75  14.59  14.71  14.66   9035400.0   9.385476
2005-01-05  14.66  14.42  14.63  14.43  11376200.0   9.238229
2005-01-06  14.52  14.37  14.40  14.45   6672600.0   9.251033
2005-01-07  14.65  14.45  14.48  14.65  11452500.0   9.379074
2005-01-10  14.59  14.48  14.49  14.55  10033300.0   9.315055
2005-01-11  14.55  14.35  14.55  14.43  10201700.0   9.238229
2005-01-12  14.45  14.24  14.43  14.32  15451200.0   9.167804
2005-01-13  14.34  14.04  14.34  14.08  11036500.0   9.014153
2005-01-14  14.15  14.01  14.04  14.06   9362300.0   9.001352
2005-01-18  14.15  13.91  13.96  14.08  10296500.0   9.014153
2005-01-19  14.27  13.92  14.08  13.93   6560200.0   8.918123
2005-01-20  13.75  13.40  13.55  13.46  14965100.0   8.617225
2005-01-21  13.46  13.10  13.46  13.11  12369700.0   8.393150
2005-01-24  13.30  13.05  13.12  13.07  10804700.0   8.367544
2005-01-25  13.42  13.07  13.07  13.23  11581200.0   8.469977
2005-01-26  13.36  13.17  13.28  13.35   7424200.0   8.611896
2005-01-27  13.31  13.17  13.26  13.19   6295200.0   8.508683
2005-01-28  13.25  13.04  13.15  13.14   9261100.0   8.476426
2005-01-31  13.29  13.11  13.25  13.17   6976900.0   8.495781
2005-02-01  13.28  13.01  13.27  13.08   9248000.0   8.437722
2005-02-02  13.38  13.08  13.18  13.27   7073200.0   8.560289
2005-02-03  13.25  13.06  13.17  13.11   8963300.0   8.457074
2005-02-04  13.26  13.15  13.21  13.22   7186000.0   8.528036
2005-02-07  13.54  13.24  13.29  13.42   8965600.0   8.657052
2005-02-08  13.44  13.15  13.39  13.16   9651200.0   8.489328
2005-02-09  13.19  13.04  13.10  13.12   8383100.0   8.463527
2005-02-10  13.21  13.06  13.11  13.10   7250200.0   8.450625
2005-02-11  13.19  13.04  13.09  13.06   8416800.0   8.424822
2005-02-14  13.20  13.04  13.12  13.10   6266800.0   8.450625
...           ...    ...    ...    ...         ...        ...
2019-08-22   9.14   9.02   9.05   9.04  20974700.0   9.040000
2019-08-23   8.99   8.73   8.90   8.77  44982300.0   8.770000
2019-08-26   8.91   8.79   8.88   8.82  31888200.0   8.820000
2019-08-27   8.91   8.75   8.89   8.76  23024400.0   8.760000
2019-08-28   9.04   8.70   8.72   9.00  35147300.0   9.000000
2019-08-29   9.14   9.03   9.10   9.12  22011000.0   9.120000
2019-08-30   9.23   9.10   9.16   9.17  32057900.0   9.170000
2019-09-03   9.20   9.04   9.18   9.10  26331000.0   9.100000
2019-09-04   9.23   9.07   9.17   9.20  27406400.0   9.200000
2019-09-05   9.40   9.25   9.25   9.34  36626800.0   9.340000
2019-09-06   9.41   9.20   9.37   9.34  29210100.0   9.340000
2019-09-09   9.65   9.39   9.39   9.54  48059400.0   9.540000
2019-09-10   9.42   9.04   9.08   9.42  70567300.0   9.420000
2019-09-11   9.43   9.29   9.29   9.42  34190300.0   9.420000
2019-09-12   9.48   9.32   9.36   9.41  35687700.0   9.410000
2019-09-13   9.59   9.44   9.47   9.45  27161300.0   9.450000
2019-09-16   9.45   9.24   9.36   9.30  50052600.0   9.300000
2019-09-17   9.31   9.18   9.27   9.28  27391200.0   9.280000
2019-09-18   9.36   9.22   9.26   9.25  24309400.0   9.250000
2019-09-19   9.33   9.10   9.31   9.10  28780700.0   9.100000
2019-09-20   9.30   9.11   9.13   9.17  37491300.0   9.170000
2019-09-23   9.23   9.08   9.13   9.16  22051100.0   9.160000
2019-09-24   9.23   9.05   9.19   9.11  33092500.0   9.110000
2019-09-25   9.23   9.09   9.10   9.20  20510300.0   9.200000
2019-09-26   9.23   9.07   9.23   9.14  26556300.0   9.140000
2019-09-27   9.60   9.06   9.14   9.08  32459500.0   9.080000
2019-09-30   9.21   9.10   9.11   9.16  21510000.0   9.160000
2019-10-01   9.24   8.87   9.19   8.90  39559500.0   8.900000
2019-10-02   8.86   8.44   8.85   8.61  68137000.0   8.610000
2019-10-03   8.71   8.45   8.55   8.71  40827900.0   8.710000

[3714 rows x 6 columns]

Use the “info” method to obtain basic statistics, regarding the data you extracted in the previous exercise (data from Morningstar for Ford starting from the 1st of January 2005 until today).

In [11]:
F.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3714 entries, 2005-01-03 to 2019-10-03
Data columns (total 6 columns):
High         3714 non-null float64
Low          3714 non-null float64
Open         3714 non-null float64
Close        3714 non-null float64
Volume       3714 non-null float64
Adj Close    3714 non-null float64
dtypes: float64(6)
memory usage: 203.1 KB

Apply the “head” and “tail” methods and observe the output. How would you interpret the adjusted closing prices?

In [12]:
F.head()

             High    Low   Open  Close      Volume  Adj Close
Date
2005-01-03  14.75  14.51  14.66  14.71   9852200.0   9.417489
2005-01-04  14.75  14.59  14.71  14.66   9035400.0   9.385476
2005-01-05  14.66  14.42  14.63  14.43  11376200.0   9.238229
2005-01-06  14.52  14.37  14.40  14.45   6672600.0   9.251033
2005-01-07  14.65  14.45  14.48  14.65  11452500.0   9.379074

In [13]:
F.tail()

            High   Low  Open  Close      Volume  Adj Close
Date
2019-09-27  9.60  9.06  9.14   9.08  32459500.0       9.08
2019-09-30  9.21  9.10  9.11   9.16  21510000.0       9.16
2019-10-01  9.24  8.87  9.19   8.90  39559500.0       8.90
2019-10-02  8.86  8.44  8.85   8.61  68137000.0       8.61
2019-10-03  8.71  8.45  8.55   8.71  40827900.0       8.71

Practice extracting closing price data from the same source and for the same timeframe. Do this for Apple, Microsoft, Exxon, and British Petroleum. 
Use IEX to find the tickers of these companies, if you don’t already know them.

In [18]:
import pandas
import pandas_datareader

In [21]:
znaczniki = ['AAPL', 'MSFT', 'PG']
dane = pandas.DataFrame()
for znak in znaczniki:
    dane[znak] = pandas_datareader.data.DataReader(znak, data_source = 'yahoo', start = '2015-1-1')['Close']

In [22]:
dane

                  AAPL        MSFT          PG
Date
2015-01-02  109.330002   46.759998   90.440002
2015-01-05  106.250000   46.330002   90.010002
2015-01-06  106.260002   45.650002   89.599998
2015-01-07  107.750000   46.230000   90.070000
2015-01-08  111.889999   47.590000   91.099998
2015-01-09  112.010002   47.189999   90.250000
2015-01-12  109.250000   46.599998   89.919998
2015-01-13  110.220001   46.360001   90.300003
2015-01-14  109.800003   45.959999   89.989998
2015-01-15  106.820000   45.480000   89.860001
2015-01-16  105.989998   46.240002   91.250000
2015-01-20  108.720001   46.389999   91.190002
2015-01-21  109.550003   45.919998   90.730003
2015-01-22  112.400002   47.130001   91.620003
2015-01-23  112.980003   47.180000   90.080002
2015-01-26  113.099998   47.009998   89.580002
2015-01-27  109.139999   42.660000   86.489998
2015-01-28  115.309998   41.189999   85.150002
2015-01-29  118.900002   42.009998   85.669998
2015-01-30  117.160004   40.400002   84.290001
2015-02-02  118.629997   41.279999   85.120003
2015-02-03  118.650002   41.599998   85.949997
2015-02-04  119.559998   41.840000   85.790001
2015-02-05  119.940002   42.450001   86.699997
2015-02-06  118.930000   42.410000   85.610001
2015-02-09  119.720001   42.360001   85.050003
2015-02-10  122.019997   42.599998   85.389999
2015-02-11  124.879997   42.380001   85.639999
2015-02-12  126.459999   43.090000   86.029999
2015-02-13  127.080002   43.869999   85.900002
...                ...         ...         ...
2019-08-22  212.460007  137.779999  119.419998
2019-08-23  202.639999  133.389999  117.320000
2019-08-26  206.490005  135.449997  119.320000
2019-08-27  204.160004  135.740005  120.550003
2019-08-28  205.529999  135.559998  121.400002
2019-08-29  209.009995  138.119995  121.180000
2019-08-30  208.740005  137.860001  120.230003
2019-09-03  205.699997  136.039993  121.360001
2019-09-04  209.190002  137.630005  123.209999
2019-09-05  213.279999  140.050003  122.760002
2019-09-06  213.259995  139.100006  122.870003
2019-09-09  214.169998  137.520004  122.169998
2019-09-10  216.699997  136.080002  119.879997
2019-09-11  223.589996  136.119995  121.269997
2019-09-12  223.089996  137.520004  122.769997
2019-09-13  218.750000  137.320007  122.120003
2019-09-16  219.899994  136.330002  119.750000
2019-09-17  220.699997  137.389999  121.160004
2019-09-18  222.770004  138.520004  121.410004
2019-09-19  220.960007  141.070007  121.900002
2019-09-20  217.729996  139.440002  122.239998
2019-09-23  218.720001  139.139999  123.220001
2019-09-24  217.679993  137.380005  123.610001
2019-09-25  221.029999  139.360001  123.019997
2019-09-26  219.889999  139.539993  124.309998
2019-09-27  218.820007  137.729996  124.570000
2019-09-30  223.970001  139.029999  124.379997
2019-10-01  224.589996  137.070007  123.849998
2019-10-02  218.960007  134.649994  121.080002
2019-10-03  220.820007  136.279999  121.739998

[1197 rows x 3 columns]

In [23]:
seria = pandas.Series()

In [24]:
type(seria)

pandas.core.series.Series

***

Repeat this exercise for any stock of interest to you. :)